@mixin flex($direction: row, $justify: flex-start, $align: stretch) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin clamp($property, $value) {
  #{$property}: clamp(calc($value * 0.6), 2vw, $value);
  transition: 250ms ease-in-out;
}
